# Created by .ignore support plugin (hsz.mobi)
/Big_data/resources/Maelstrom.txt
/Big_data/resources/maelstrom.txt
/Big_data/resources/stopwords.txt
#/Big_data/resources/digits.txt
/.idea/
/Introduction_to_complex_systems/virusmodel/virusmodel/.ipynb_checkpoints/
/Introduction_to_complex_systems/virusmodel/virusmodel/simplots/
/Advandced_topics_in_algebra/PCA_SVD/.ipynb_checkpoints/
/Complex_systems_theory_and_practice/.ipynb_checkpoints/
/Introduction_to_complex_systems/.idea/
/Programming_and_classification/LAB3/.ipynb_checkpoints/
/Programming_and_classification/LAB4/.ipynb_checkpoints/
/Programming_and_classification/LAB5/.ipynb_checkpoints/
/Statistical_physics/Crystals/.idea/
/Statistical_physics/Ising/3-10.png
/Statistical_physics/Ising/3-40.png
/Statistical_physics/Ising/3-50.png
/Statistical_physics/Ising/3-80.png
/Statistical_physics/Ising/3-100.png
/Statistical_physics/Ising/4-8.png
/Statistical_physics/Ising/4-10.png
/Statistical_physics/Ising/4-40.png
/Statistical_physics/Ising/4-50.png
/Statistical_physics/Ising/4-80.png
/Statistical_physics/Ising/4-100.png
/Statistical_physics/Ising/50-1.5.png
/Statistical_physics/Ising/50-2.26918531421.png
/Statistical_physics/Ising/50-4.png
/Statistical_physics/Ising/flip.png
/Statistical_physics/Ising/flips.png
/Statistical_physics/Ising/magnetisation.png
/Statistical_physics/Ising/output.csv
/Statistical_physics/Ising/3-8.png
/Statistical_physics/Ising/.idea/
/Statistical_physics/Ising/.ipynb_checkpoints/
/Statistical_physics/Ising2/50.log
/Statistical_physics/Ising2/.idea/
/Statistical_physics/Ising2/100.log
/Statistical_physics/Ising2/10.log
/Statistical_physics/Crystals/cmake-build-debug/
/Statistical_physics/Ising2/cmake-build-debug/
/Statistical_physics/Ising2/Figure_1.png
/Statistical_physics/Ising2/mag.log
/Stream_programming/Additional_task/.idea/
/Stream_programming/Additional_task/Additional_task.iml
/Stream_programming/List_4/.idea/
/Stream_programming/List_5/.idea/
/Stream_programming/List_5/List_5.iml
/Introduction_to_complex_systems/virusmodel/virusmodel/data.csv
/Introduction_to_complex_systems/virusmodel/virusmodel/histogram_data
/Introduction_to_complex_systems/virusmodel/virusmodel/histogram_data2
/Introduction_to_complex_systems/virusmodel/virusmodel/impr_var_vir_dur.log
/Introduction_to_complex_systems/virusmodel/virusmodel/var_breed.out
/Introduction_to_complex_systems/virusmodel/virusmodel/var_vir_dur.log
/Introduction_to_complex_systems/virusmodel/virusmodel/variable_infection.log
/Introduction_to_complex_systems/virusmodel/virusmodel/variable_lifespan.log
/Introduction_to_complex_systems/virusmodel/virusmodel/variable_pop.log
/Introduction_to_complex_systems/virusmodel/virusmodel/variable_reproduce.log
/Introduction_to_complex_systems/virusmodel/virusmodel/variable_virus_dur.log
/Introduction_to_complex_systems/virusmodel/virusmodel/variant_breeging.out
/Monographic_Lecture_in_Mathematics/cwDemo1.ipynb
/Monographic_Lecture_in_Mathematics/cwtDemo2.ipynb
/Monographic_Lecture_in_Mathematics/Lab2/UCI HAR Dataset/
/Monographic_Lecture_in_Mathematics/.ipynb_checkpoints/
/Monographic_Lecture_in_Theoretical_Physics/app_id.secret
